In [1]:
import pandas as pd

from hypex.dataset.dataset import Dataset, ExperimentData
from hypex.dataset.roles import *

# Dataset

In [2]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})
ds = Dataset(df, roles={TargetRole: 'a', PreTargetRole: 'b'})
ds

   a  b
0  1  4
1  2  5
2  3  6

In [3]:
ds.roles

{'a': hypex.dataset.roles.TargetRole, 'b': hypex.dataset.roles.PreTargetRole}

In [4]:
ds['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [5]:
ds[1]

a    2
b    5
Name: 1, dtype: int64

In [6]:
ds['a'][1]

2

In [7]:
ds.add_column([7, 8, 9], 'c', TargetRole)
ds

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [8]:
ds.add_column(ds.apply(func=lambda x: x['a'] + x['c'] + 7, axis=1), 'd', TargetRole)
ds

   a  b  c   d
0  1  4  7  15
1  2  5  8  17
2  3  6  9  19

In [9]:
ds.roles

{'a': hypex.dataset.roles.TargetRole,
 'b': hypex.dataset.roles.PreTargetRole,
 'c': hypex.dataset.roles.TargetRole,
 'd': hypex.dataset.roles.TargetRole}

In [10]:
ds.loc[:, 'c']

0    7
1    8
2    9
Name: c, dtype: int64

In [37]:
ds['e'] = [1, 2, 3]
ds

C:\Users\User\PycharmProjects\HypEx1\hypex\dataset\dataset.py:67: Warning: Column must be added by add_column
  warnings.warn("Column must be added by add_column", category=Warning)

   a  b  c   d  e
0  1  4  7  15  1
1  2  5  8  17  2
2  3  6  9  19  3

In [15]:
ds['a'][1] = 1
ds

   a  b  c   d
0  1  4  7  15
1  1  5  8  17
2  3  6  9  19

In [16]:
ds.isin([3, 8])

       a      b      c      d
0  False  False  False  False
1  False  False   True  False
2   True  False  False  False

In [20]:
ds.groupby('a').mean()

C:\Users\User\PycharmProjects\HypEx1\hypex\dataset\backends\pandas_backend.py:63: FutureWarning: The 'axis' keyword in DataFrame.groupby is deprecated and will be removed in a future version.
  return self.data.groupby(by, axis, level)

     b    c     d
a
1  4.5  7.5  16.0
3  6.0  9.0  19.0

In [11]:
ds_empty = Dataset(pd.DataFrame())._create_empty()

In [12]:
ds_empty.columns

Index([], dtype='object')

In [13]:
ds_empty._backend.__class__

hypex.dataset.backends.pandas_backend.PandasDataset

# Eperiment Data

In [34]:
ed = ExperimentData(pd.DataFrame())._create_empty()

In [35]:
ed.additional_fields

Empty DataFrame
Columns: []
Index: []

In [36]:
ed.additional_fields.loc[:, :]

Empty DataFrame
Columns: []
Index: []