# Tutorial 1: Matching

## 0. Import libraries

In [1]:

import warnings

from hypex import Matcher

warnings.simplefilter(action='ignore', category=FutureWarning)

## 1. Create or upload your dataset  
In this case we will create random dataset with known effect size  
If you have your own dataset, go to the part 2

In [2]:
from hypex.utils.tutorial_data_creation import create_test_data

In [3]:
df = create_test_data(rs=42, na_step=45, nan_cols=['age', 'gender'])
df

,user_id,signup_month,treat,pre_spends,post_spends,age,gender,industry
0,0,0,0,504.5,422.777778,NaN,F,Logistics
1,2,0,0,485.0,434.000000,34.0,NaN,E-commerce
2,4,0,0,488.5,420.111111,33.0,F,E-commerce
3,5,0,0,475.0,408.333333,52.0,M,E-commerce
4,6,0,0,494.0,423.666667,33.0,M,Logistics
...,...,...,...,...,...,...,...,...
5468,9992,0,0,456.5,404.888889,34.0,M,E-commerce
5469,9993,0,0,503.0,431.888889,64.0,F,Logistics
5470,9994,0,0,480.0,411.444444,67.0,F,E-commerce
5471,9996,0,0,453.0,406.888889,27.0,M,Logistics
5472,9997,0,0,461.0,415.111111,46.0,F,Logistics

In [4]:
df.columns

Index(['user_id', 'signup_month', 'treat', 'pre_spends', 'post_spends', 'age',
       'gender', 'industry'],
      dtype='object')

In [5]:
df['treat'].value_counts()

0    5002
1     471
Name: treat, dtype: int64

In [6]:
df['gender'].isna().sum()

122

## 2. Matching  
### 2.0 Init params
info_col used to define informative attributes that should not be part of matching, such as user_id  
But to explicitly store this column in the table, so that you can compare directly after computation

In [7]:
info_col = ['user_id']

outcome = 'post_spends'
treatment = 'treat'

### 2.1 Simple matching
This is the easiest way to initialize and calculate metrics on a Matching task  
Use it when you are clear about each attribute or if you don't have any additional task conditions (Strict equality for certain features)

In [8]:
# Standard model with base parameters
model = Matcher(input_data=df, outcome=outcome, treatment=treatment, info_col=info_col)

[24.01.2024 16:22:28 | hypex | INFO]: Number of NaN values filled with zeros: 244

**Feature selection** models the significance of features for the accuracy of target approximation. However, it does not
rule out the possibility of overlooked features, the complex impact of features on target description, or the
significance of features from a business logic perspective. The algorithm will not function correctly if there are data
leaks. 
Points to consider when selecting features:

* Data leaks - these should not be present.
* Influence on treatment distribution - features should not affect the treatment distribution.
* The target should be describable by features.
* All features significantly affecting the target should be included.
* The business rationale of features.
* The feature selection function can be useful for addressing these tasks, but it does not solve them nor does it
  absolve the user of the responsibility for their selection, nor does it justify it.

[Link to ReadTheDocs](https://hypex.readthedocs.io/en/latest/pages/modules/selectors.html#selector-classes)

In [9]:
selected_features = model.feature_select()
selected_features

                    rank
signup_month           1
pre_spends             2
age                    3
industry_Logistics     4
gender_F               5
gender_M               6

In [10]:
chosen_features = selected_features[:4].index
chosen_features

Index(['signup_month', 'pre_spends', 'age', 'industry_Logistics'], dtype='object')

In [11]:
results, quality_results, df_matched = model.estimate(features=chosen_features)

  0%|          | 0/5473 [00:00<?, ?it/s]

In [12]:
results

     effect_size   std_err  p-val    ci_lower    ci_upper      outcome
ATE  -316.890899  0.531010    0.0 -317.931679 -315.850119  post_spends
ATC  -356.207371  0.540647    0.0 -357.267039 -355.147703  post_spends
ATT   100.648370  0.643221    0.0   99.387657  101.909082  post_spends

In [13]:
quality_results.keys()

dict_keys(['psi', 'ks_test', 'smd', 'repeats'])

In [14]:
quality_results['ks_test']

              match_control_to_treat  match_treat_to_control
age                     1.000000e+00                0.303804
pre_spends              1.000000e+00                0.229776
signup_month           2.070021e-282                0.000000

In [15]:
df_matched

,index,signup_month,pre_spends,age,gender_F,gender_M,industry_Logistics,signup_month_matched,pre_spends_matched,age_matched,gender_F_matched,gender_M_matched,industry_Logistics_matched,index_matched,post_spends,post_spends_matched,post_spends_matched_bias,treat,treat_matched
0,32,3,481.5,63.0,0,1,0,0.0,481.50,63.00,0.0,1.0,0.0,[5880],511.333333,410.666667,100.666667,1,0
1,38,3,493.0,20.0,0,1,0,0.0,493.00,20.00,0.5,0.5,0.0,"[323, 9107]",519.666667,411.111111,108.555556,1,0
2,92,3,511.0,40.0,1,0,1,0.0,511.00,41.00,0.0,1.0,1.0,[7578],535.777778,401.333333,134.450611,1,0
3,117,3,478.0,56.0,1,0,1,0.0,477.75,56.25,0.0,1.0,1.0,"[6504, 7115, 7345, 9859]",529.000000,418.888889,110.115035,1,0
4,119,3,470.0,57.0,1,0,1,0.0,471.00,57.00,1.0,0.0,1.0,[280],523.444444,410.222222,113.212693,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4997,9992,0,456.5,34.0,0,1,0,3.0,454.00,32.00,1.0,0.0,0.0,[8420],404.888889,521.000000,-340.621937,0,1
4998,9993,0,503.0,64.0,1,0,1,3.0,500.50,63.00,1.0,0.0,1.0,[5564],431.888889,521.111111,-367.498704,0,1
4999,9994,0,480.0,67.0,1,0,0,3.0,482.00,68.00,0.0,1.0,0.0,[263],411.444444,517.666667,-350.596631,0,1
5000,9996,0,453.0,27.0,0,1,1,3.0,449.00,26.00,1.0,0.0,1.0,[7139],406.888889,517.888889,-345.680202,0,1
5001,9997,0,461.0,46.0,1,0,1,3.0,466.00,45.00,1.0,0.0,1.0,[8133],415.111111,517.444444,-354.591211,0,1

In [16]:
df_matched[df_matched['industry_Logistics'] != df_matched['industry_Logistics_matched']]

Empty DataFrame
Columns: [index, signup_month, pre_spends, age, gender_F, gender_M, industry_Logistics, signup_month_matched, pre_spends_matched, age_matched, gender_F_matched, gender_M_matched, industry_Logistics_matched, index_matched, post_spends, post_spends_matched, post_spends_matched_bias, treat, treat_matched]
Index: []

### 2.2 Matching with a fixed variable  
Used when you have categorical feature(s) that you want to compare by strict equality  
group_col is used for strict comparison of categorical features.  
In our case there is only one attribute  
If there are several such attributes, you should make one of them and use it

In [17]:
group_col = "industry"

In [18]:
model = Matcher(input_data=df, outcome=outcome, treatment=treatment,
                info_col=info_col, group_col=group_col)

[24.01.2024 16:22:29 | hypex | INFO]: Number of NaN values filled with zeros: 244

In [19]:
selected_features = model.feature_select()
selected_features

              rank
signup_month     1
pre_spends       2
age              3
gender_F         4
gender_M         5

In [20]:
chosen_features = selected_features[:4].index
chosen_features

Index(['signup_month', 'pre_spends', 'age', 'gender_F'], dtype='object')

In [21]:
results, quality_results, df_matched = model.estimate(features=chosen_features)

  0%|          | 0/4 [00:00<?, ?it/s]

In [22]:
results

     effect_size   std_err  p-val    ci_lower    ci_upper      outcome
ATE  -316.075532  0.531084    0.0 -317.116456 -315.034609  post_spends
ATC  -355.282996  0.541203    0.0 -356.343754 -354.222239  post_spends
ATT   100.306066  0.642753    0.0   99.046271  101.565862  post_spends

In [23]:
df_matched[df_matched['industry'] != df_matched['industry_matched']]

Empty DataFrame
Columns: [index, signup_month, pre_spends, age, gender_F, gender_M, industry, signup_month_matched, pre_spends_matched, age_matched, gender_F_matched, gender_M_matched, industry_matched, index_matched, post_spends, post_spends_matched, post_spends_matched_bias, treat, treat_matched]
Index: []

## 3. Results  
### 3.1 ATE, ATT, ATC

In [24]:
results

     effect_size   std_err  p-val    ci_lower    ci_upper      outcome
ATE  -316.075532  0.531084    0.0 -317.116456 -315.034609  post_spends
ATC  -355.282996  0.541203    0.0 -356.343754 -354.222239  post_spends
ATT   100.306066  0.642753    0.0   99.046271  101.565862  post_spends

### 3.2 SMD, PSI, KS-test, repeats

In [25]:
quality_results.keys()

dict_keys(['psi', 'ks_test', 'smd', 'repeats'])

In [26]:
quality_results['psi']

,column_treated,anomaly_score_treated,check_result_treated,column_untreated,anomaly_score_untreated,check_result_untreated
0,age_treated,0.00,OK,age_untreated,0.01,OK
1,gender_F_treated,0.00,OK,gender_F_untreated,0.00,OK
2,industry_treated,0.00,OK,industry_untreated,0.00,OK
3,pre_spends_treated,0.01,OK,pre_spends_untreated,0.01,OK
4,signup_month_treated,18.42,NOK,signup_month_untreated,0.00,OK

In [27]:
quality_results['ks_test']

              match_control_to_treat  match_treat_to_control
age                     1.000000e+00                0.087975
pre_spends              1.000000e+00                0.170224
signup_month           2.070021e-282                0.000000

In [28]:
quality_results['repeats']

{'match_control_to_treat': 0.95, 'match_treat_to_control': 0.09}

### 3.3 Validation
Validates estimated effect:
1. by replacing real treatment (`random_treatment`) with random placebo treatment.
 Estimated effect must be droped to zero;
2. by adding random feature (`random_feature`). Estimated effect shouldn't change
significantly, p-val < 0.05;
3. estimates effect on subset of data (`subset_refuter`) (default fraction is 0.8). Estimated effect
shouldn't change significantly, p-val < 0.05.

**Random Treatment** algorithm randomly shuffles the actual treatment. It is expected that the treatment's effect on the target will be close to 0.

**Random Feature** adds a feature with random values. It is expected that adding a random feature will maintain the same impact of the treatment on the target.

These methods are not sufficiently accurate markers of a successful experiment.

[Link to ReadTheDocs](https://hypex.readthedocs.io/en/latest/pages/modules/utils.html#validators)

In [29]:
model.validate_result(refuter="random_treatment", effect_type="att", n_sim=10)

  0%|          | 0/10 [00:00<?, ?it/s]

{'post_spends': [-0.07194058875830694, 0.0]}

## 4. Save model

In [30]:
model.save("test_model.pickle")

In [31]:
model2 = Matcher.load("test_model.pickle")

In [32]:
model2.results

     effect_size   std_err  p-val    ci_lower    ci_upper      outcome
ATE  -316.075532  0.531084    0.0 -317.116456 -315.034609  post_spends
ATC  -355.282996  0.541203    0.0 -356.343754 -354.222239  post_spends
ATT   100.306066  0.642753    0.0   99.046271  101.565862  post_spends

In [33]:
model.results

     effect_size   std_err  p-val    ci_lower    ci_upper      outcome
ATE  -316.075532  0.531084    0.0 -317.116456 -315.034609  post_spends
ATC  -355.282996  0.541203    0.0 -356.343754 -354.222239  post_spends
ATT   100.306066  0.642753    0.0   99.046271  101.565862  post_spends